.map-wrapper{
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 800px) {
    .wide-only{ display: none; }
}
@media only screen and (min-width: 801px) {
    .narrow-only{ display: none; }
}

/* Hover Tooltip ------------------------------------------------------------------------------- */

.map-hover-tooltip-line{
    position: fixed;
    padding: 0.2rem;
    border-radius: 0.4rem;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 0.9rem;
}
.map-hover-tooltip-station{
    position: fixed;
    padding: 0.2rem;
    border-radius: 0.4rem;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border: solid 1px rgba(0, 0, 0, 1);
    color: white;
    font-size: 0.9rem;
}

/* Map Panel ----------------------------------------------------------------------------------- */

.map-panel{
    position: fixed;
    display: flex;
    flex-direction: column;
    /* Wide Mode */
    top: 10px;
    left: 10px;
    width: 340px;
    max-height: calc(100vh - 20px);
}
@media only screen and (max-width: 800px) { /* Narrow Mode */
    .map-panel{
        top: auto;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        max-height: 50vh;
    }
}

.map-panel-head{
    padding: 5px;
    display: flex;
    align-items: center;
    border: solid 1px #ccc;
    background-color: #f8f9fa;
    font-weight: bold;
}
.map-panel-head:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media only screen and (min-width: 801px) { /* Wide Only */
    .map-panel-head:last-child{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.map-panel-body{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    border: solid 1px #ccc;
    background-color: white;
}
.map-panel-body::-webkit-scrollbar{
    width: 10px;
    background-color: #eee;
}
.map-panel-body::-webkit-scrollbar-thumb {
    background: #999;
}
@media only screen and (min-width: 801px) { /* Wide Only */
    .map-panel-body:last-child{
        border-radius: 0 0 5px 5px;
    }
    .map-panel-body::-webkit-scrollbar{
        border-radius: 0 0 5px 5px;
    }
    .map-panel-body::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }
}

/* Display Menu -------------------------------------------------------------------------------- */

.menu_display{
    position: fixed;
    display: flex;
    gap: 5px;
    /* Wide Mode */
    bottom: 10px;
    right: 10px;
}
.menu_display > button{
    padding: 2px 5px;
    height: 30px;
    min-width: 30px;
    border: solid 2px #999;
}
.menu_display > button:hover{
    border: solid 2px #999;
}
.menu_display > button:active{
    border: solid 2px #999;
}
@media only screen and (max-width: 800px) { /* Narrow Mode */
    .menu_display{
        bottom: auto;
        right: auto;
        top: 5px;
        left: 5px;
    }
    .menu_display > button > label{
        display: none;
    }
}